.mycart-title {
  font-family: "Kreon", sans-serif;
  font-size: 2.4rem;
  color: #81698d;
  font-weight: 500;
  padding: 1.5rem;
  margin-left: 2rem;
}

/* Layout for gift box cards */
.cart-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: center; */
  padding: 1.5rem 60px;
}

/* Individual card styling */
.cart-card {
  width: 30rem;
  border: 3px solid #81698d;
  border-radius: 16px;
  padding: 15px 15px 20px;
  background: #fff;
  flex: 0 0 auto;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Kreon", sans-serif;
}

/* Gift box title */
.cart-card h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: #81698d;
  font-weight: 400;
}

/* Total item count */
.cart-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #8990ad;
}

/* List of items */
.cart-card ol {
  padding-left: 60px;
  font-size: 2rem;
  color: #a5957a;
  font-weight: 400;
}

/* Responsive adjustments */
@media (max-width: 622px) {
  .cart-card {
    width: 90%;
    padding: 12px;
  }

  .cart-card h2 {
    font-size: 1.4rem;
  }

  .cart-card p {
    font-size: 0.85rem;
  }

  .cart-card ol {
    font-size: 1.2rem;
    padding-left: 30px;
  }

  .view-more-btn {
    font-size: 0.75rem;
    padding: 4px 10px;
  }

  .mycart-title {
    font-size: 2rem;
    padding: 1rem;
    margin-left: 1rem;
  }

  .cart-grid {
    padding: 1rem 20px;
    gap: 20px;
  }
}
